{% unless tag %}
    {% for atag in site.tags %}
        {% if atag.name == tag_name %}
            {% assign tag = atag %}
            {% break %}
        {% else %}
            {% assign tag = atag %}
        {% endif %}
    {% endfor %}
{% endunless %}

{% assign tag_pages = tag.pages %}
<!-- Page wrapper -->
{% assign product_categories = site.settings.product_categories | split: '|' %}

<!-- 产品列表 -->
<section class="my-4">
    <div class="flex justify-center gap-4 w-full overflow-x-auto">
        {% for item in product_categories %}
            <a href="/-/tags/{{ item }}" :class="{ 'bg-primary text-white': '{{ item }}' === '{{ tag.name }}' }" class="flex-none px-4 py-1 text-sm font-medium border border-gray-300 rounded-lg focus:outline-none">{{ item }}</a>
        {% endfor %}
    </div>
    {% paginate_tag tag_pages, per: 32 %}
        <div class="grid grid-cols-2 gap-4 sm:grid-cols-4 mt-4">
            {% for item in tag_pages %}
                {% if item.template_name == 'product' %}
                    <!-- Card product -->
                    <a href="{{ item.path }}" class="bg-gray-50 overflow-hidden p-2 max-w-64 flex flex-col">
                        <div class=" bg-white"><img src="{{ item.settings.thumb_image_url }}" alt="{{ item.link_text }}" class="w-full aspect-[4/3] object-cover"></div>
                        <div class="mt-1">
                            <p class="text-md text-center base-content">{{ item.link_text }}</p>
                            {% comment %} <p class="text-gray-600 mt-2">{{ item.settings.description }}</p> {% endcomment %}
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
        <!-- Pagination -->
        <div class="w-full text-right block">
            {% render 'paginate', paginate: paginate %}
        </div>
    {% endpaginate_tag %}
</section>
