<!DOCTYPE html>
<html class="scroll-smooth overflow-x-clip bg-base-100" lang="{{ site.language }}">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Baklib">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% meta_tags %}

    {%- comment -%}
      Runtime color injection for admin customization.
    {%- endcomment -%}
    {% render 'theme_runtime_colors' %}

    {{ 'stylesheets/application.css' | asset_url | stylesheet_tag: data-turbo-track: 'reload' }}
    {{ 'javascripts/application.js' | asset_url | script_tag: defer: true, data-turbo-track: 'reload' }}
    {%# Enable for low-code platform dev: uncomment the line below %}
    {% if false %} {{ 'javascripts/cdn.tailwindcss.js' | asset_url | script_tag: data-turbo-track: 'reload' }} {% endif %}
    
    {{ site.settings.font_html }}
    {{ site.settings.head_html }}
  </head>
  <body class="flex min-h-screen flex-col overflow-x-clip bg-base-100 font-custom text-base-content antialiased" id="js-body">
      {% render 'header' %}
      
      <main class="flex-grow">
        {{ content_for_layout }}
      </main>

      {% render 'footer' %}
  </body>
</html>