
{% render 'hero', page: page %}
<div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 gag-4 xl:gap-8"></div>

<!-- FAQs Section -->
{% if site.settings.section_faqs_on %}
    {% assign section_faqs_menu = site.settings.section_faqs_menu | newline_to_br | split: '<br />' %}
    <section class="bg-base-100 py-4 sm:py-8">
        <div class="mx-auto max-w-6xl px-4">
            <div class="section-head mb-4">
                <h2 class="section-title">{{ site.settings.section_faqs_title }}</h2>
                {% if site.settings.section_faqs_description != blank %}
                    <p class="section-desc">{{ site.settings.section_faqs_description }}</p>
                {% endif %}
            </div>
            <!-- Cards Container -->
            <div class="grid grid-cols-2 md:grid-cols-4 xl:grid-cols-5 gag-4 md:gap-6 xl:gap-8">
                {% for menu_line in section_faqs_menu %}
                {%  assign p_menu_arr = menu_line | split: '{' %}
                {%  assign parent_menu = p_menu_arr[0] | split: '[' %}
                {%  assign sub_menus = p_menu_arr[1] | split: '|' %}
                {%  assign sub_menus_count =  sub_menus | size %}

                {% if sub_menus_count > 0 %}
                    <div class="flex flex-col rounded-box border border-base-300 bg-base-200 px-3 py-2 md:px-6 md:py-4 m-1">
                        <div class="py-2 text-lg font-semibold">{{ parent_menu[0] }}</div>
                        <!-- 2nd level menu -->
                        <ul class="space-y-2">
                        {% for second_menu in sub_menus %}
                            {%  assign second_menu_arr = second_menu | split: '[' %}
                            <li>
                                <a class="hover:no-underline" href="{{ second_menu_arr[1] | default: '#'}}" target="_blank">
                                    <span class="whitespace-wrap hover:underline">{{ second_menu_arr[0] }}</span>
                                </a>
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                {% else %}
                    <div class="">
                        <a class="" href="{{ parent_menu[1] | default: '#'}}" target="_blank">{{ parent_menu[0] }}</a>
                    </div>
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </section>
{% endif %}

<!-- Product Section -->
{% if site.settings.section_products_on %}
    {% assign first_tag_name = site.settings.product_categories | split: '|' | first %}

    <section class="bg-base-100 py-4 sm:py-8">
        <div class="mx-auto max-w-6xl px-4">
            <div class="section-head mb-4">
                <h2 class="section-title">{{ site.settings.section_product_title }}</h2>
                {% if site.settings.section_products_description != blank %}
                    <p class="section-desc">{{ site.settings.section_products_description }}</p>
                {% endif %}
            </div>
            {% if site.settings.section_product_type == true %}
                {% render 'content_products', tag_name: first_tag_name %}
            {% else %}
                {% render 'content_products_all' %}
            {% endif %}
        </div>
    </section>
{% endif %}

<!-- Topic Section -->
{% if site.settings.section_topics_on %}
    {% assign topics_menu = site.settings.topics_menu | newline_to_br | split: '<br />' %}

    <section class=" py-4 sm:py-8">
        <div class="mx-auto max-w-6xl px-4">
            <div class="section-head mb-4">
                <h2 class="section-title">{{ site.settings.section_topic_title }}</h2>
                {% if site.settings.section_topics_description != blank %}
                    <p class="section-desc">{{ site.settings.section_topics_description }}</p>
                {% endif %}
                <a name="topics"></a>
            </div>

            <!-- Cards Container -->
            <section class="my-4">
                <div class="grid grid-cols-2 gap-4 sm:grid-cols-3">
                    {% for menu_line in topics_menu %}
                        {%  assign arr = menu_line | split: '[' %}
                        <a href="{{ arr[1] }}" class="relative group flex items-center space-x-3 rounded-box border border-base-300 bg-base-200 px-6 py-5 shadow-sm focus-within:ring-2 focus-within:ring-primary focus-within:ring-offset-2 hover:bg-secondary/10 hover:no-underline hover:border-base-300">
                            <div class="min-w-0 flex-1">
                                <span class="absolute inset-0" aria-hidden="true"></span>
                                <p class="text-sm font-medium text-base-content">{{ arr[0] }}</p>
                                <p class="truncate text-sm text-base-content/60">{{ arr[2] }}</p>
                            </div>
                            <div>
                                <button type="button" class="inline-flex items-center px-1.5 py-1.5 border border-transparent text-xs font-medium rounded-full shadow-sm bg-primary focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500">
                                    <i data-lucide="chevron-right" class="h-4 w-4 text-primary-content"></i>
                                </button>
                            </div>
                        </a>
                    {% endfor %}
                </div>

            </section>
        </div>
    </section>
{% endif %}

<!-- Downloads Section -->
{% if site.settings.section_downloads_on %}
    {% render 'content_downloads_cards' %}
{% endif %}


<!-- Contact US Section -->
{% if site.settings.section_contact_on %}
    {% render 'content_contacts', page: page %}
{% endif %}

{% schema %}
    {
        "name": "t:schema.templates.index.name",
        "description": "t:schema.templates.index.description",
        "thumb_url": "images/theme/${lang}/index.webp",
        "sub_page_templates": ["products","downloads","faqs","videos"],
        "settings": [
            {
                "id": "tags",
                "type": "tag_picker",
                "multiple": true,
                "label": "t:schema.templates.index.settings.tags.label"
            },
            {
                "id": "description",
                "type": "text",
                "label": "t:schema.templates.index.settings.description.label",
                "default": "t:schema.templates.index.settings.description.default"
            },
            {
                "id": "hero_image_url",
                "type": "image_picker",
                "ratio": "6:2",
                "width": 300,
                "label": "t:schema.templates.index.settings.hero_image_url.label"
            },
            {
                "id": "text_color",
                "type": "color",
                "default": "#ffffff",
                "label": "t:schema.templates.index.settings.text_color.label"
            }
        ]
    }
{% endschema %}
