
<!-- Blog post -->

<section class="">
  <div class="relative max-w-6xl mx-auto pt-4 md:pt-6 px-4">
    <div>
      {% # 面包屑导航 %}
      <div class="mb-4">
        {% render 'breadcrumb', breadcrumb: page.breadcrumb  %}
      </div>
      <!-- Article header -->
      <header class="py-2">
          <!-- Title and excerpt -->
          <div class="">
            <h1 class="text-2xl md:text-3xl mb-4 base-content">
                {{ page.settings.title }}
            </h1>
          </div>
          <!-- Article meta -->
          <div class="md:flex md:items-center md:justify-between mt-5 border-t border-accent/50 pt-4">
              <div>&nbsp;</div>
              <div class="">
                  <div class="space-x-2">
                    <span class="base-content/80"> {{ 'generic.published_at' | t}}：{{ page.published_at | date: "%Y-%m-%d" }}</span>
                    <span class="base-content/80"> ·  {{ 'generic.visits' | t }}：{{ page.visits_count  }}</span>
                  </div>
              </div>
          </div>
      </header>
    </div>
  </div>
</section>

<div class="relative max-w-6xl mx-auto">
  <div class="pt-4 px-4 pb-4">
    <article >
      <!-- Article content -->
      <div class="ProseMirror max-w-full overflow-x-auto ">
        {{ page.settings.content }}
      </div>
      <!-- Sub Post Section -->
      {% render 'sub_page_list', page: page %}

      <!-- Feedback -->
      <div class="max-w-2xl mx-auto mt-8">
        {%# render "feedback_form", page: page %}
        {% render "feedback_btn", page: page %}
      </div>
    </article>
  </div>
</div>

<!-- Related posts -->
{%# render 'related_pages', page: page.parent %}


<!--/ article-->
{% schema %}
  {
    "name": "t:schema.templates.post.name",
    "description": "t:schema.templates.post.description",
    "thumb_url": "images/theme/${lang}/page.webp",
    "sub_page_templates": [],
    "settings": [
      {
        "id": "title",
        "type": "text",
        "to_markdown": true,
        "label": "t:schema.templates.post.settings.title.label"
      },
      {
        "id": "description",
        "type": "textarea",
        "to_markdown": true,
        "label": "t:schema.templates.post.settings.description.label"
      },
      {
        "id": "content",
        "type": "richtext",
        "to_markdown": true,
        "label": "t:schema.templates.post.settings.content.label"
      },
      {
        "id": "tags",
        "type": "tag_picker",
        "multiple": true,
        "label": "t:schema.templates.post.settings.tags.label"
      }
    ]
  }
{% endschema%}
