{%  assign pages = page.children_in_nav_menu %}
{% for item in page.children_in_nav_menu | limit: 1 %}
  {%  assign first_page =  item %}
{% endfor %}

{% assign default_thumb_image = 'images/demo/product-demo.jpg' | asset_url %}
{% assign default_hero_image = 'images/demo/hero.jpg' | asset_url %}
{% assign thumb_image = page.settings.thumb_image_url | default: default_thumb_image %}

<!-- Header -->
<section class="relative max-w-6xl mx-auto px-4">
    <!-- Article hero thumb -->
    <header class="py-0">
      <img src="{{ page.settings.hero_image_url | default: thumb_image | default: default_hero_image }}" alt="{{ page.settings.title }}" class="w-full object-cover">
    </header>

    <!-- Article header -->
    <div class="relative max-w-6xl mx-auto my-4">
      <div class="mb-4">
        {% render 'breadcrumb', breadcrumb: page.breadcrumb  %}
      </div>
      <div class="flex justify-between">
        <div class="">
          <h1 class="text-3xl md:text-5xl font-bold base-content">{{ page.settings.title }}</h1>
          <p class="mt-2 text-sm base-content/80">{{ page.settings.description }}</p>
        </div>
        <div class="">
          {% if page.settings.external_url %}
            <div class="flex items-center justify-end">
              <a href="{{ page.settings.external_url | default: '#' }}" target="_blank" rel="noopener noreferrer" class="text-primary-content bg-primary hover:bg-secondary focus:outline-none focus:ring-4 focus:ring-primary-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2">{{ page.settings.external_title | default: 'Shop Now' }}</a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
</section>

<!-- Content -->
<section class="relative max-w-6xl mx-auto px-4">
  {% render 'content', page: page %}
</section>

<section x-data="{ activeTab: '{{ first_page.id }}' }" class="relative max-w-6xl mx-auto px-4 my-4 md:my-8">
    <!-- Article Navigation -->
    <div class="bg-base-300 text-base-content rounded-box px-4 py-0 my-4">
      <div class="max-w-3xl mx-auto">
        <nav class="flex justify-between w-full overflow-x-auto" aria-label="Tabs">
          {% for item in pages %}
            <a href="#" data-product="{{ item.id }}" @click.prevent="activeTab = '{{ item.id }}'" :class="{ 'bg-gray-800 text-white': activeTab === '{{ item.id }}' }"  class="rounded-lg px-3 py-2 text-sm md:text-lg font-semibold max-w-24 md:max-w-64" aria-current="page">
              {{ item.link_text}}
            </a>
          {% endfor %}
        </nav>
      </div>
    </div>

    <!-- Article Content -->
    {% for item in pages %}
      <div x-show="activeTab === '{{ item.id }}'" x-data="{ activeTab2: '{{ item.id }}' }" class="relative px-4">
        <div class="flex flex-row items-start">
          
          <article x-show="activeTab2 === '{{ item.id }}'" class="flex-1">
            {% render 'content', page: item %}
          </article>

          {% for sub_item in item.children_in_list %}
            <article x-show="activeTab2 === '{{ sub_item.id }}'" class="flex-1">
              {% render 'content', page: sub_item %}
            </article>
          {% endfor %}

        </div>
      </div>
    {% endfor %}

</section>

<!-- Support 列表 -->
 {% if site.settings.section_contact_on %}
    {% render 'content_contacts', page: page %}
{% endif %}

<!--/ article-->
{% schema %}
  {
    "name": "t:schema.templates.product.name",
    "description": "t:schema.templates.product.description",
    "thumb_url": "images/theme/${lang}/product.webp",
    "sub_page_templates": ["faqs","videos","downloads"],
    "settings": [
      {
        "id": "title",
        "type": "text",
        "label": "t:schema.templates.product.settings.title.label"
      },
      {
        "id": "description",
        "type": "textarea",
        "label": "t:schema.templates.product.settings.description.label"
      },
      {
        "id": "content",
        "type": "richtext",
        "label": "t:schema.templates.product.settings.content.label"
      },
      {
        "id": "thumb_image_url",
        "type": "image_picker",
        "ratio": "4:3",
        "width": 300,
        "label": "t:schema.templates.product.settings.thumb_image_url.label"
      },
      {
        "id": "hero_image_url",
        "type": "image_picker",
        "ratio": "6:2",
        "width": 400,
        "label": "t:schema.templates.product.settings.hero_image_url.label"
      },
      {
        "id": "tags",
        "type": "tag_picker",
        "multiple": true,
        "label": "t:schema.templates.product.settings.tags.label"
      },
      {
        "id": "external_title",
        "type": "text",
        "placeholder": "Contact US",
        "default": "Contact US",
        "label": "t:schema.templates.product.settings.external_title.label",
        "info": "t:schema.templates.product.settings.external_title.info"
      },
      {
        "id": "external_url",
        "type": "text",
        "placeholder": "https://",
        "default": "#",
        "label": "t:schema.templates.product.settings.external_url.label",
        "info": "t:schema.templates.product.settings.external_url.info"
      }
    ]
  }
{% endschema%}
